* {
  margin: 0;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  /* outline: 1px solid white; */
}

body{
  background-color: #37474f;
  color: white;
}

.container{
  width: 85%;
  display: flex;
  justify-content: center;
}

.align-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}
.justify-end{
  justify-content: end;
}
.justify-start{
  justify-content: start;
}

.justify-spaceBetween{
  justify-content: space-between;
}

.wrap{
  flex-wrap: wrap;
}

.no-wrap{
  flex-wrap: nowrap;
}

.wrap-reverse{
  flex-wrap: wrap-reverse;
}

@keyframes appear{
  from{
    opacity: 0;
    clip-path: inset( 0 100% 100% 0);
  }
  to{
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

.block{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.app-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensures it stays behind content */
}

.content {
  position: relative;
  z-index: 1; /* Ensures content stays above particles */
}